# Working with files

## JSON data
JavaScript Object Notation

In [63]:
import json
import pandas as pd
from pandas import DataFrame

In [52]:
obj = """{"name": "Alberto", "places_lived": ["United States", "England", "Mexico"], 
          "pet": "dog", "siblings":[{"name": "Alba", "age": 28, "pet": "Pulques"}]         
}"""

In [53]:
result = json.loads(obj)
result

{u'name': u'Alberto',
 u'pet': u'dog',
 u'places_lived': [u'United States', u'England', u'Mexico'],
 u'siblings': [{u'age': 28, u'name': u'Alba', u'pet': u'Pulques'}]}

In [60]:
siblings = DataFrame(result['siblings'], columns =['name','age', 'pet'])
siblings

   name  age      pet
0  Alba   28  Pulques

### Convert a Python object back to JSON

In [62]:
asjson = json.dumps(result)
asjson

'{"pet": "dog", "siblings": [{"pet": "Pulques", "age": 28, "name": "Alba"}], "name": "Alberto", "places_lived": ["United States", "England", "Mexico"]}'

# HDF5
Hierarchical Data Format

In [64]:
store = pd.HDFStore('data/mydata.h5')

In [66]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: data/mydata.h5
/obj1                frame        (shape->[3,5])
/obj1_col            series       (shape->[3])

In [67]:
store['obj1']

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [68]:
store['obj1_col']

0    1
1    5
2    9
Name: a, dtype: int64

# Excel Files

In [69]:
xls = pd.ExcelFile('data/QTL_Sample_data.xls')

In [70]:
table = xls.parse('Sheet1')

In [75]:
table.head(3)

,ID,Point,Strain,sex,sex#,age,bodywt,brainwt,MedUNshOB,Res1_sex,Res2_sex-age,Res3_sex-age-bw,Res4_sex-age-bw-brnw
0,169,0.3,B,F,2,189,29.4,495.8,31.976,11.49506,9.57071,9.09569,7.37700
1,171,0.3,B,F,2,51,19.7,474.9,24.772,4.29106,4.92325,4.77891,2.92035
2,232,0.3,B,M,1,294,35.0,476.1,24.836,4.44382,0.57692,0.30106,-0.74414