# Interacting with Databases (sqlite)

In [3]:
import sqlite3
import pandas as pd

In [41]:
# Database was created manually using squlite3
# or we could've used python with
# c.execute("CREATE .... ")
# conn.commit()

conn = sqlite3.connect('databases/test.db')
c = conn.cursor()
c.execute("SELECT * FROM employees")
c.fetchall()

[(1, u'Max Eisenhart'), (2, u'Pietro Maximoff'), (3, u'Mortime Ton')]

## Using Pandas

In [42]:
pd.read_sql('select * from employees', conn)

   id             name
0   1    Max Eisenhart
1   2  Pietro Maximoff
2   3      Mortime Ton

In [43]:
db = _

In [44]:
# SELECT * FROM employees
#       WHERE id == '1'

db[db['id']==1]

   id           name
0   1  Max Eisenhart